.app-container {
  margin: 20px 20px; }

.app-header {
  border-bottom: 1px solid #369;
  font-size: 18px; }

.widget-container {
  min-width: 300px;
  float: left;
  margin-top: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #369; }

.section-header {
  padding: 5px 5px; }
  .section-header h4 {
    font-weight: bold;
    font-size: 14px;
    color: #369;
    font-family: Arial, Helvetica, sans-serif; }

.from-currency-group,
.to-currency-group {
  padding: 5px 5px; }
  .from-currency-group label,
  .to-currency-group label {
    font-size: 13px; }
  .from-currency-group .slds-form-element__control,
  .to-currency-group .slds-form-element__control {
    padding-bottom: 3px; }
    .from-currency-group .slds-form-element__control .fixed-input-width,
    .to-currency-group .slds-form-element__control .fixed-input-width {
      width: 58%; }
    .from-currency-group .slds-form-element__control .slds-input.slds-is-disabled, .from-currency-group .slds-form-element__control .slds-input[disabled],
    .to-currency-group .slds-form-element__control .slds-input.slds-is-disabled,
    .to-currency-group .slds-form-element__control .slds-input[disabled] {
      background-color: white !important; }
    .from-currency-group .slds-form-element__control .fixed-select-width,
    .to-currency-group .slds-form-element__control .fixed-select-width {
      width: 30%;
      margin-left: 10px; }

.alert-danger {
  color: red;
  background-color: #eded7b; }

.footnote {
  clear: left;
  padding: 5px 5px; }
  .footnote .link-text {
    color: blue;
    float: right;
    text-decoration: underline;
    cursor: pointer; }
  .footnote .disclaimer {
    clear: left;
    display: block;
    padding-left: 3px; }
