<div class="widget-container">
  
  <div class="section-header">
    <h4>Currency converter</h4>
  </div>

  <div class="from-currency-group">

    <span class="slds-form-element">
    
      <label class="slds-form-element__label" for="_widgetModel.fromCurrency.currencyValue">
        Type in amount and select currency:</label><br/>
      
      <div class="slds-form-element__control">

        <input 
          type="number"
          name="fromCurrency"
          [ValidCurrency] = "true"
          id="fromCurrencyValue"
          class="fixed-input-width slds-input" 
          tabindex={{widgetInstance*100+1}}
          [ngModel]="_widgetModel.fromCurrency.currencyValue || '0.00'"
          (ngModelChange)="onInputChange(synthesisEvent($event,'fromCurrency','number'))"
        />

        <select 
          name="fromCurrency"
          id="fromCurrencyType"
          tabindex={{widgetInstance*100+2}}
          class="fixed-select-width slds-select"
          [ngModel]="_widgetModel.fromCurrency.currencyType"
          (ngModelChange)="onSelectionChange(synthesisEvent($event,'fromCurrency','select-one'))"  
        >
          <option *ngFor = "let currency of currencyTypes" [value]="currency">{{currency}}</option> 
        </select>
      </div>

    </span>
    
  </div>

  <div class="to-currency-group">

    <span class="slds-form-element">
    
      <label class="slds-form-element__label" for="_widgetModel.toCurrency.currencyValue">
        Converted amount:</label><br/>
      
      <div class="slds-form-element__control">

        <input 
          type="text"
          name="toCurrency"
          disabled="true"
          class="fixed-input-width slds-input"
          id="toCurrencyValue"
          [ngModel]="_widgetModel.toCurrency.currencyValue || '0.00'" 
        />
        
        <select 
          id="toCurrencyType"
          name="toCurrency"
          tabindex={{widgetInstance*100+3}}
          class="fixed-select-width slds-select"
          (ngModelChange)="onSelectionChange(synthesisEvent($event,'toCurrency','select-one'))"
          [ngModel]="_widgetModel.toCurrency.currencyType"
        >
          <option *ngFor = "let currency of currencyTypes" [value]="currency">{{currency}}</option>
        </select>
    
      </div>

  </span>

  </div>
  
  <div *ngIf="httpErrFlg" class="alert-danger">
    {{httpErrMsg}}
  </div>

  <div class="footnote">
    <span 
      class="link-text"
      (click)="toggleDisclaimer()"
      (keydown)="keyBindVerify($event)"
      tabindex={{widgetInstance*100+4}}
    > Disclaimer </span>
  
    <div *ngIf="disclaimerStatus" class="disclaimer">
      <span class="disclaimer-content">
        The currency rates are updated everytime currency type is changed and the rates are calculated everytime the value is changed.
      </span>
    </div>
  
  </div>
</div>